body h4{
	font-family: "microsoft yahei";
}
/* 下拉菜单宽距 */
#topNav ul.dropdown-menu{
	min-width: 110px;
}
/* head body间距*/
body.boxed section{
	padding-top: 25px;
}

/*logo*/
.logo{
	padding-left:20px;
}

/* 下拉菜单剧中 */

#topNav ul.dropdown-menu li a{
	text-align: center;
}
/*轮播图与热点新闻间距*/
.owl-carouse{
	margin-bottom:25px;
}
.item-box-desc{
	margin: 0px;
}
.padding-5{
	padding: 5px 10px 10px 10px;
}
/*比赛入口*/
.rukou{
	background: #1980B6;
}
/*首页赛事列表*/
.race_list{
	margin-top:15px;
	padding-top:20px;
	background: deepskyblue;
}
.race_list h4{
	margin: 0;
	text-align: center;
	color:#fff;
}
.race_list p{
	text-align: center;
	color:#fff;
	margin-bottom: 0;
}
.race_list ul{
	padding:10px;
	margin-bottom:15px;
}
.race_list ul li{
	background:#fff;
	border:1px solid #fff;
	margin-bottom:3px;
	text-indent: 10px;
}
.race_list ul li span{
	float:right;
	padding-right:10px;
}
/*二维码*/
.qrcode{
	background: #CCC;
	margin: 0;
}
.qrcode h4{
	padding-top:10px;
	color:#000;
}
.qrcode h6{
	padding-top:5px;
}
/* 二维码大小 */
div.row>div img.img-responsive{
	width:100%;
}

/*企业赞助*/
.zanzhu{

}

.zanzhu h6{
	text-align: center;
	padding-top:5px;
	margin-bottom: 5px;
}
.zanzhu img{
	border:1px solid #ccc;
}
.zanzhu h4 {
}

/*视频区域*/
.item-box-desc{
	padding:10px;
}

/*首页新闻内容日期*/

.item-box-desc h4{
	text-align: center;
}
/*友情链接上下间距*/
section{
	padding-bottom: 20px;
}
/*footer链接列表*/
.lxwm ul{
		margin-left: 30px;
}
.lxwm li {
	float:left;
	padding-left:5x;
}
.lxwm li a{
	font-size:10px
}
.lxwm li span {
	padding:0 5px;
}
.lxwm p{
	clear: both;
	padding-top:3px;
}
.lxwm p i{
	margin:10px 10px 10px 0px;
	display: list-block;
	line-height: 20px;
	text-align: center;
	width:20px;
	height:20px;
 	-webkit-border-radius:50%;
 	border:1px solid rgba(255,255,255,0.6);
	font-size: 16px;
}
.lxwm p span{
	font-size: 20px;
}
.footlogos img{
	width:60px;
	height:60px;
	margin-left:20px;
}
.footlogs span{
	float:left;
	display: block;;

}
.footlogos small{

}
.f-l{
	float:right;
	padding-top:10px;
	margin-right:10px;
}
.f-l p{
	font-size: 8px;
	font-family:arial;
}
.f-l span{
	font-size: 16px;
}
.list-unstyled li span{
	padding-left:20px;
}
.f2-line{
	border-left:1px solid rgba(255,255,255,0.1);
	font-size:12px;
}
#footer>.container {
    padding-top: 50px;
    margin-bottom: 10px;
}
#footer>.copyright{
	    padding: 15px 0;
}
.lianmeng,.lianmeng li{
	margin:0px;
	padding:0px;
	list-style: none;

}

.lianmeng li{
	width:150px;
	height:50px;
	float:left;
	border:1px solid #666;
	margin-left:15px;
	margin-top:10px;
	line-height:50px;
	background: #C0C0C0;
}
.lianmeng li:hover{
	background: black;
	color:#fff;
}
.alternate .container{
	margin-top:10px;
}

#topNav> .container{
	background: #175b80;
}
#topMain.nav-pills>li>a{
	color:#fff;
	font-size: 16px;
}
#topMain.nav-pills>li>a:hover{
	color:deepskyblue;
}
#header{
	    background-color: #175b80;
}
/*视频区域日期*/
.sp small{
	text-align: center;
}
/*注册信息*/
.zcxx{
	font-size: 10px;
}

/*article 图片大小设置*/
.article p img{
	max-width: 100%;;
}
/*文章详情页相关文章图片*/
.thumbnail-change{
	margin-bottom:5px;
}
.about img{
	max-width:100%;
}

/*about技能荣誉*/
.jineng ul li span{
	padding:0;
}
